<ion-view title="friend" hide-nav-bar="true" id="page7" style="background-color:#A9E2E2;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h3 id="friend-heading6" style="color:#EC8ECF;font-weight:600;font-style:italic;text-align:center;" class=" ">Username</h3>
        <ion-list id="friend-list10" class=" ">
            <ion-item class="item-avatar  " id="friend-list-item30">
                <img src="img/WW04imNRnDkUJx5DkANA_fist.png">
                <h2>Do It !</h2>
                <p>Received 10 #fist</p>
            </ion-item>
            <ion-item class="item-avatar  " id="friend-list-item31">
                <img src="img/XWSL0kmTaycPrGl9EPI4_dark_vader.png">
                <h2>La guerre des étoiles</h2>
                <p>Received 10 #cosplay</p>
            </ion-item>
            <ion-item class="item-avatar  " id="friend-list-item32">
                <img src="img/MgoRtLZYT6GijNVwbW7E_dog.png">
                <h2>Wouf !</h2>
                <p>Received 100 #doggyStyle</p>
            </ion-item>
            <ion-item class="item-avatar  " id="friend-list-item33">
                <img src="img/cZMPATZfR5OCB0kLKlDi_gang bang2.png">
                <h2>Plus on est de fous...</h2>
                <p>Received 10 #GangBang</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 38px;"></div>
        <div id="friend-button-bar4" class=" button-bar ">
            <button id="friend-button13" style="border-radius:80px 80px 80px 80px;" class=" button button-royal  button-block ">Delete</button>
        </div>
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <div id="friend-button-bar8" class=" button-bar ">
            <a ui-sref="home" id="friend-button29" class=" button button-assertive  button-block icon ion-android-home "></a>
        </div>
    </ion-content>
</ion-view>