<ion-view title="home" hide-nav-bar="true" id="page1" class=" ">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <a ui-sref="tendresses" id="home-button7" style="border-radius:0px 0px 0px 0px;" class=" button button-royal  button-block ">2 Tendresses not seen</a>
        <ion-list id="home-list2" class=" ">
            <ion-item class="item-icon-right  " id="home-list-item6">Gégé
                <i class="icon ion-briefcase"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="home-list-item8">Coquine21
                <i class="icon ion-ios-briefcase"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="home-list-item11">Tyrion
                <i class="icon ion-briefcase"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="home-list-item9">RAFAEL
                <i class="icon ion-ios-briefcase"></i>
            </ion-item>
            <ion-item id="home-list-item7" class="  ">BURNERxXx</ion-item>
            <ion-item id="home-list-item12" class="  ">BURNERxXx</ion-item>
            <ion-item id="home-list-item13" class="  ">BURNERxXx</ion-item>
            <ion-item id="home-list-item14" class="  ">BURNERxXx</ion-item>
        </ion-list>
        <div id="home-button-bar3" class=" button-bar ">
            <a ui-sref="add" id="home-button9" class=" button button-energized button-large button-block icon ion-android-person-add "></a>
            <a ui-sref="me" id="home-button17" class=" button button-calm button-large button-block ">Me</a>
            <button id="home-button11" class=" button button-assertive button-large button-block icon ion-android-walk "></button>
        </div>
    </ion-content>
</ion-view>