<ion-view title="home" hide-nav-bar="true" id="page1" class=" ">
    <ion-content padding="false" class="manual-ios-statusbar-padding" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
        <a ui-sref="tendresses" id="home-button7" style="border-radius:0px 0px 0px 0px;" class=" button button-royal  button-block ">
            {{nbTendresses}} tendresses not seen</a>
        <ion-list id="home-list2" class=" " ng-repeat="friend in friends">
            <ion-item class="item-icon-right" id="friend-{{friend.username}}" on-hold="profile('{{friend.username}}')" on-tap="sendTendresse('{{friend.username}}',$event)">
                    {{friend.username}}
            </ion-item>
        </ion-list>
        <ion-list id="home-listt" class=" " ng-hide="friends.length">
            <ion-item class="item-icon-right">
                Swipe right to see your tendresses
                <i class="icon ion-briefcase"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                Swipe left to go to your profile
                <i class="icon ion-briefcase"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                Add some friends from your profile !!!
                <i class="icon ion-briefcase"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>