<ion-view title="me" hide-nav-bar="true" id="page6" style="background-color:#A9E2E2;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
        <h3 id="me-heading5" style="color:#EC8ECF;font-weight:600;font-style:italic;text-align:center;" class=" ">Username</h3>
        <ion-list id="me-list8" class=" " ng-repeat="achievement in achievements">
            <ion-item class="item-avatar  " id="achievement-{{achievement.id}}">
                <img src="img/{{achievement.img}}">
                <h2>{{achievement.title}}</h2>
                <p>{{achievement.description}}</p>
            </ion-item>
        </ion-list>
        <ion-item ng-hide="achievements.length" class="item-avatar  " id="achievement-{{achievement}}">
            <img src="img/WW04imNRnDkUJx5DkANA_fist.png">
            <h2>You have no achievement :'(</h2>
            <p>Send more tendresses to unlock achievements! #fist</p>
        </ion-item>
    </ion-content>
</ion-view>