<ion-view title="signup" hide-nav-bar="true" id="page3" style="background-color:#EC8ECF;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h3 id="signup-heading3" style="color:#A9E2E2;font-style:italic;text-align:center;" class=" ">Sign up</h3>
        <form id="signup-form2" class="list ">
            <div class="spacer" style="width: 300px; height: 35px;"></div>
            <ion-list id="signup-list4" class=" ">
                <label class="item item-input " id="signup-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 54px;"></div>
            <button id="signup-button3" style="border-radius:80px 80px 80px 80px;" class=" button button-royal  button-block ">Sign up</button>
        </form>
        <div style="margin-right:-20px;">
            <a ui-sref="login" id="signup-button18" style="left:-10px;font-size:12px;" class=" button button-positive  button-full button-clear ">Already have an account? Click here to Login</a>
        </div>
    </ion-content>
</ion-view>