<ion-view title="tendresses" hide-nav-bar="true" id="page4" style="background-color:#A9E2E2;" class=" ">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <div class="">
            <img src="img/R8NmRziMRxKuqNnHOsDM_11.jpg" width="100%" height="100%" style="display: block; margin-left: auto;">
        </div>
        <ion-list id="tendresses-list6" class=" manual-list-fullwidth ">
            <ion-item class="item-icon-right  " id="tendresses-list-item15">Giroud
                <i class="icon ion-heart icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="tendresses-list-item16">Basile
                <i class="icon ion-heart icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="tendresses-list-item23">Dudu
                <i class="icon ion-heart icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="tendresses-list-item24">Renard
                <i class="icon ion-heart icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 320px; height: 28px;"></div>
        <div id="tendresses-button-bar10" class=" button-bar ">
            <a ui-sref="home" id="tendresses-button16" class=" button button-positive  button-block icon ion-android-home "></a>
        </div>
    </ion-content>
</ion-view>